extends ./components/layout

block content
  header
    include ./components/logo.pug
    include ./components/navigation.pug

  include ./components/banner.pug
  include ./components/catalog.pug
  include ./components/contact.pug
  include ./components/works.pug
  include ./components/journal.pug


//- npx sass --watch styles/style-task2.scss:output/style-task2.css styles/style-task3.scss:output/style-task3.css styles/style-task4.scss:output/style-task4.css styles/style-task5.scss:output/style-task5.css styles/style-task6.scss:output/style-task6.css styles/style.scss:output/style.css
//- npx pug -w index.pug ./components/task3.pug ./components/task4.pug ./components/task5.pug ./components/task6.pug --out ./output
