.journal-block
  h3 FROM THE JOURNAL
    span(style="color: red") --
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit.

  .journals
    each item in [1,2,3,4]
      .journal-item
        img(src="../assets/disc.jpg" alt="discodo")
        .journal-info
          h3 Lorem some ipsum lala
          p Lorem ipsum,
