.nav
  a(href="./task3.html" target="_blank")  HOME
  a(href="./task4.html" target="_blank")  ABOUT US
  a(href="./task5.html" target="_blank")  PORTFOLIO
  a(href="./task6.html" target="_blank")  JOURNAL
  p CONTACT
  img(src="../assets/heart.png" alt="heart")
  .burger-menu
    span
    span
    span
