doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../output/style.css")
    link(rel="stylesheet" href="../output/style-task5.css")
    title Document
  body
    .container
      .parent
        .div1 Header
        .div2 Footer
        .div3 Nav
        .div4 Article
        .div5 Ads
