doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../output/style.css")
    link(rel="stylesheet" href="../output/style-task4.css")
    title Document
  body
    .container
      .parent
        each num in [1, 2, 4, 5, 6]
          div(class="div"+num)
            img(src="../assets/image_2.jpg" alt="")
            h2 Lorem ipsum, dolor sit amet
